# {{ ansible_managed }}
---
logger:
  file:
    path: /var/log/facette/facette.log
http:
  listen: localhost:12003
  base_path: /{{ facette_base_path }}
  read_only: {{ facette_read_only | default(true) }}
  enable_ui: true
  expose_version: true
storage:
  debug: false
  # SQLite
  driver: sqlite
  path: /var/lib/facette/data.db
cache:
  path: /var/cache/facette
defaults:
  time_range: -1h
