# {{ ansible_managed }}
#
# Secure the server per:
# https://docs.rstudio.com/ide/server-pro/access-and-security.html

www-address=127.0.0.1
# The free version of rstudio-server doesn't natively support SSL.
#
# ssl-enabled=1
# ssl-certificate=/etc/letsencrypt/live/{{ domain }}/fullchain.pem
# ssl-certificate-key=/etc/letsencrypt/live/{{ domain }}/privkey.pem
