# {{ ansible_managed }}
[sssd]
domains = grove.ad.uconn.edu
config_file_version = 2
services = nss, pam

[domain/grove.ad.uconn.edu]
ad_domain = grove.ad.uconn.edu
krb5_realm = GROVE.AD.UCONN.EDU
realmd_tags = manages-system joined-with-adcli 
cache_credentials = True
id_provider = ad
krb5_store_password_if_offline = True
default_shell = /bin/bash
ldap_id_mapping = True
use_fully_qualified_names = False
override_homedir = /home/%u
access_provider = simple
simple_allow_groups = $
simple_allow_users = {{ ', '.join(users) }}
# Group defaults are too permissive!
auto_private_groups = True
ad_gpo_access_control = disabled
# Try to stop /tmp/adcli-krb5-* directories from being generated per
# https://bugzilla.redhat.com/show_bug.cgi?id=1588596
ad_maximum_machine_account_password_age = 0
# Make login faster by disabling nested groups per Kevin.
ldap_use_tokengroups = True
ldap_group_nesting_level = 0
ldap_groups_use_matching_rule_in_chain = True
ldap_initgroups_use_matching_rule_in_chain = True
